public/xmlns/article.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="title" type="xs:string"/>
        <xs:element name="heading" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="author" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="body" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>