public/xmlns/article.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:article="https://mobile-content-api.cru.org/xmlns/article" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" targetNamespace="https://mobile-content-api.cru.org/xmlns/article">

    <xs:complexType name="aemImport">
        <xs:attribute name="src" />
    </xs:complexType>

    <!-- exported elements and element groups -->
    <xs:element name="article" />
    <xs:group name="manifestElements">
        <xs:choice>
            <xs:element name="aem-import" minOccurs="0" maxOccurs="unbounded" type="article:aemImport" />
        </xs:choice>
    </xs:group>
</xs:schema>
