public/xmlns/manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:article="https://mobile-content-api.cru.org/xmlns/article"
    xmlns:content="https://mobile-content-api.cru.org/xmlns/content"
    xmlns:manifest="https://mobile-content-api.cru.org/xmlns/manifest"
    xmlns:page="https://mobile-content-api.cru.org/xmlns/page"
    xmlns:shareable="https://mobile-content-api.cru.org/xmlns/shareable"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" targetNamespace="https://mobile-content-api.cru.org/xmlns/manifest">

    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/article" schemaLocation="article.xsd" />
    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/content" schemaLocation="content.xsd" />
    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/lesson" schemaLocation="lesson.xsd" />
    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/page" schemaLocation="page.xsd" />
    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/shareable" schemaLocation="shareable.xsd" />
    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/tract" schemaLocation="tract.xsd" />

    <xs:simpleType name="toolType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="article" />
            <xs:enumeration value="cyoa" />
            <xs:enumeration value="lesson" />
            <xs:enumeration value="tract" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="categoryId">
        <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z0-9_\-]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="manifest">
        <xs:all>
            <xs:element name="title" minOccurs="0" maxOccurs="1" type="content:textChild" />
            <xs:element name="categories" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="category" minOccurs="0" maxOccurs="unbounded" type="manifest:category" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="categoryId">
                    <xs:selector xpath="category" />
                    <xs:field xpath="@id" />
                </xs:unique>
            </xs:element>
            <xs:element name="pages" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="page" minOccurs="0" maxOccurs="unbounded" type="manifest:page" />
                        <xs:group ref="article:manifestElements" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="resources" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resource" minOccurs="0" maxOccurs="unbounded" type="manifest:resource" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tips" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tip" minOccurs="0" maxOccurs="unbounded" type="manifest:tipType" />
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="tipId">
                    <xs:annotation>
                        <xs:documentation>Tip ids are unique within the context of a manifest</xs:documentation>
                    </xs:annotation>
                    <xs:selector xpath="manifest:tip" />
                    <xs:field xpath="@id" />
                </xs:unique>
            </xs:element>

            <xs:element ref="shareable:items" minOccurs="0" />
        </xs:all>

        <xs:attributeGroup ref="manifest:toolMetaData" />
        <xs:attribute name="primary-color" type="content:colorValue" default="rgba(59,164,219,1)">
            <xs:annotation>
                <xs:documentation>The primary color of this tool. Defaults to rgba(59,164,219,1).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="primary-text-color" type="content:colorValue" default="rgba(255,255,255,1)">
            <xs:annotation>
                <xs:documentation>The text color for text displayed on top of the primary-color. Defaults to
                    rgba(255,255,255,1).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="text-color" type="content:colorValue" use="optional" default="rgba(90,90,90,1)">
            <xs:annotation>
                <xs:documentation>The default text color for text content within this tool. Defaults to
                    rgba(90,90,90,1).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="background-color" type="content:colorValue" default="rgba(255,255,255,1)">
            <xs:annotation>
                <xs:documentation>This is the background color for this tool. This is the bottom-most background
                    layer.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="background-image" type="xs:string" use="optional" />
        <xs:attribute name="background-image-align" type="content:imageGravity" use="optional" default="center">
            <xs:annotation>
                <xs:documentation>This defines how we align the background image. This defaults to center.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="background-image-scale-type" type="content:imageScaleType" use="optional" default="fill">
            <xs:annotation>
                <xs:documentation>This defines how we should scale the background image. This defaults to fill.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="navbar-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This defines the color of the application navigation bar for this tool. For lesson
                    tool types this defaults to transparent, for all other tool types this defaults to the
                    primary-color.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="navbar-control-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This defines the color of controls on the application navigation bar for this tool.
                    For lesson tool types this defaults to the primary-color, for all other tool types this defaults to
                    the primary-text-color.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="category-label-color" type="content:colorValue">
            <xs:annotation>
                <xs:documentation>The category label color. This defaults to text-color.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="text-scale" type="xs:float" default="1">
            <xs:annotation>
                <xs:documentation>Defines how much to scale all the text content in this tool by.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="dismiss-listeners" type="content:listeners">
            <xs:annotation>
                <xs:documentation>This attribute defines events that will dismiss this tool.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <!-- Import any external groups of attributes we want to support -->
        <xs:attributeGroup ref="content:manifest" />
        <xs:attributeGroup ref="page:manifest" />
    </xs:complexType>

    <xs:complexType name="category">
        <xs:annotation>
            <xs:documentation>This defines a category for content within this tool.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="content:textChild">
                <xs:annotation>
                    <xs:documentation>The displayed label for this category. The label text-color defaults to the
                        category-label-color.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="article:categoryElements" />
        </xs:sequence>
        <xs:attribute name="id" type="manifest:categoryId" use="required">
            <xs:annotation>
                <xs:documentation>The id of this category, category ids should be unique within a single manifest.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="banner" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The banner image to use for this category</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="page">
        <xs:attribute name="filename" type="xs:string" use="optional" />
        <xs:attribute name="src" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="resource">
        <xs:attribute name="filename" type="xs:string" use="required" />
        <xs:attribute name="src" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="tipType">
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="src" type="xs:string" use="required" />
    </xs:complexType>

    <xs:attributeGroup name="toolMetaData">
        <xs:annotation>
            <xs:documentation>Various tool meta-data attributes. These attributes should be automatically populated
                when publishing a tool in the mobile-content-api.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="tool" type="xs:token" use="optional">
            <xs:annotation>
                <xs:documentation>The code of the tool this manifest is for</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="locale" type="content:locale" use="optional">
            <xs:annotation>
                <xs:documentation>The language this manifest is for</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="manifest:toolType" use="optional" default="tract">
            <xs:annotation>
                <xs:documentation>The type of this tool</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- root element -->
    <xs:element name="manifest" type="manifest:manifest" />
</xs:schema>
