public/xmlns/tract.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:content="https://mobile-content-api.cru.org/xmlns/content"
    xmlns:tract="https://mobile-content-api.cru.org/xmlns/tract" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="https://mobile-content-api.cru.org/xmlns/tract">

    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/content" schemaLocation="content.xsd" />

    <!-- element nodes -->
    <!--
        Page node
            primary-color:          tract:header background, tract:card title font color,
                                    event button background, input field border/highlight.
                                    Renderer may lighten/darken to create highlight/hover colors
                                    DEFAULT( inherited from manifest )

            primary-text-color:     Color used for text inside primary-color background, for contrast.
                                    DEFAULT( inherited from manifest )

            text-color:             Color used for content:text fields
                                    DEFAULT( inherited from manifest )

            background-color:       tract:page background color
                                    DEFAULT( rgba(255, 255, 255, 0) ) /* transparent */

            background-image:       tract:page background image.
                                    DEFAULT( none )
    -->
    <xs:complexType name="page">
        <xs:sequence>
            <xs:element name="header" maxOccurs="1" minOccurs="0" type="tract:pageHeader" />
            <xs:element name="hero" maxOccurs="1" minOccurs="0" type="tract:pageHero" />
            <xs:element name="cards" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="card" maxOccurs="unbounded" minOccurs="1" type="tract:card" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modals" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="modal" minOccurs="1" maxOccurs="unbounded" type="tract:modal" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="call-to-action" minOccurs="0" maxOccurs="1" type="tract:callToAction" />
        </xs:sequence>
        <xs:attribute name="primary-color" type="content:colorValue" use="optional" />
        <xs:attribute name="primary-text-color" type="content:colorValue" use="optional" />
        <xs:attribute name="text-color" type="content:colorValue" use="optional" />
        <xs:attribute name="background-color" type="content:colorValue" use="optional" />
        <xs:attribute name="background-image" type="xs:string" use="optional" />
        <xs:attribute name="background-image-align" type="content:imageGravity" use="optional" default="center">
            <xs:annotation>
                <xs:documentation>This defines how we align the background image. This defaults to center.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="background-image-scale-type" type="content:imageScaleType" use="optional" default="fill-x">
            <xs:annotation>
                <xs:documentation>This defines how we should scale the background image. This defaults to fill-x.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="card-text-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This attribute defines the text color for cards on this page. This will default to the
                    text-color set for the page.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="card-background-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This defines the default background color for any card that appears on this page. This
                    defaults to the tract:card-background-color defined on the manifest.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listeners" type="content:listenersType" use="optional">
            <xs:annotation>
                <xs:documentation>event_ids that trigger this page</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--
        Page Header
            background-color: DEFAULT( primary-color )
    -->
    <xs:complexType name="pageHeader">
        <xs:sequence>
            <xs:element name="number" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This element is the page number displayed in the header.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element ref="content:text">
                            <xs:annotation>
                                <xs:documentation>This element is the text content of the page number. The text-color
                                    attribute defaults to the primary-text-color of the closest ancestor container.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <!--
                Page title, displayed in page header - REQUIRED
                    text-color: DEFAULT( primary-text-color )
            -->
            <xs:element name="title" type="content:textChild" />
        </xs:sequence>
        <xs:attribute name="background-color" type="content:colorValue" use="optional" />
    </xs:complexType>

    <!--
        HERO - Page content
            content directly in the page, primarily used when no cards exist
    -->
    <xs:complexType name="pageHero">
        <xs:sequence>
            <xs:element name="heading" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This is the heading text of the hero.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element ref="content:text">
                            <xs:annotation>
                                <xs:documentation>This element is the text content of the hero heading. The text-color
                                    attribute defaults to the primary-color of the closest ancestor container.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <!--
                Content section - OPTIONAL
                    text-scale: DEFAULT( 1.0 )
            -->
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="content:paragraph" />
                <xs:element ref="content:form" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- Tract Card -->
    <xs:complexType name="card">
        <xs:sequence>
            <!--
                Card label - REQUIRED
                    text-color: DEFAULT( primary-text-color )
            -->
            <xs:element name="label" type="content:textChild" />
            <!--
                Content section - OPTIONAL
                    text-scale: DEFAULT( 1.0 )
            -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="content:paragraph" />
                <xs:element ref="content:form" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="background-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This sets the background color of this card. This will default to the
                    card-background-color for this page.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- background-image: DEFAULT( none ) -->
        <xs:attribute name="background-image" type="xs:string" use="optional" />
        <xs:attribute name="background-image-align" type="content:imageGravity" use="optional" default="center">
            <xs:annotation>
                <xs:documentation>This defines how we align the background image. This defaults to center.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="background-image-scale-type" type="content:imageScaleType" use="optional" default="fill-x">
            <xs:annotation>
                <xs:documentation>This defines how we should scale the background image. This defaults to fill-x.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="text-color" type="content:colorValue" use="optional">
            <xs:annotation>
                <xs:documentation>This attribute defines the text-color for this card. This will default to the
                    card-text-color set for the page.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <!-- hidden: DEFAULT( false ) whether this card is hidden. hidden cards can still be displayed if they have a listener that is triggered. -->
        <xs:attribute name="hidden" type="xs:boolean" use="optional" />
        <xs:attribute name="listeners" type="content:listenersType" use="optional">
            <xs:annotation>
                <xs:documentation>This attribute defines events that will trigger display of this card.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="dismiss-listeners" type="content:listenersType" use="optional">
            <xs:annotation>
                <xs:documentation>This attribute defines events that will dismiss this card.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- Call to Action (next page arrow / text) -->
    <xs:complexType name="callToAction">
        <xs:complexContent>
            <xs:extension base="content:textChild">
                <xs:attribute name="events" type="content:eventIdsType" use="optional">
                    <xs:annotation>
                        <xs:documentation>Event ids to trigger when the call to action arrow is pressed. Default
                            behavior is to advance to the next page.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="control-color" type="content:colorValue" use="optional">
                    <xs:annotation>
                        <xs:documentation>This attribute defines the rgba color of the call to action control (button).
                            DEFAULT is the primary-color attribute set at the nearest ancestor either page, or manifest.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Modal - a Modal that is displayed when it's listener is triggered -->
    <xs:complexType name="modal">
        <xs:sequence>
            <xs:element name="title" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>This is the title line of the modal.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:all>
                        <xs:element ref="content:text">
                            <xs:annotation>
                                <xs:documentation>This element is the text content of the modal title.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <!--
                Content section - OPTIONAL
                    text-scale: DEFAULT( 1.0 )
            -->
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="content:paragraph" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="listeners" type="content:listenersType" use="required" />
        <xs:attribute name="dismiss-listeners" type="content:listenersType" use="required" />
    </xs:complexType>

    <!-- attributes -->
    <xs:attribute name="card-background-color" type="content:colorValue" />

    <!-- attribute groups -->
    <xs:attributeGroup name="manifest">
        <xs:annotation>
            <xs:documentation>This attribute group is the set of attributes that can appear on the manifest node in the
                manifest xml.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute ref="tract:card-background-color" use="optional">
            <xs:annotation>
                <xs:documentation>This defines the default background color for any cards that appear in pages contained
                    by this manifest. This defaults to the manifest background-color.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <!-- base elements -->
    <xs:element name="page" type="tract:page" />
</xs:schema>
