public/xmlns/web.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:content="https://mobile-content-api.cru.org/xmlns/content"
    xmlns:web="https://mobile-content-api.cru.org/xmlns/web" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" targetNamespace="https://mobile-content-api.cru.org/xmlns/web">
    <xs:annotation>
        <xs:documentation>
            This XML Schema contains all the defined web override attributes.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="https://mobile-content-api.cru.org/xmlns/content" schemaLocation="content.xsd" />

    <!-- region: content:flow attributes -->
    <xs:attribute name="item-width" type="content:dimension" />
    <xs:attribute name="row-gravity" type="content:horizontalGravity" />
    <xs:attribute name="width" type="content:dimension" />

    <xs:attributeGroup name="contentFlowElement">
        <xs:attribute ref="web:item-width" />
        <xs:attribute ref="web:row-gravity" />
    </xs:attributeGroup>
    <xs:attributeGroup name="contentFlowItemElement">
        <xs:attribute ref="web:width" />
    </xs:attributeGroup>
    <!-- endregion: content:flow attributes -->

    <!-- region: content:image attributes -->
<!--    <xs:attribute name="width" type="content:dimension" />-->
    <xs:attribute name="gravity" type="content:horizontalGravity" />

    <xs:attributeGroup name="contentImageType">
        <xs:attribute ref="web:gravity" />
        <xs:attribute ref="web:width" />
    </xs:attributeGroup>
    <!-- endregion: content:image attributes -->

    <!-- region: content:text attributes -->
    <xs:attribute name="font-weight" type="content:fontWeight" />
    <xs:attribute name="text-align" type="content:horizontalGravity" />
    <xs:attribute name="text-color" type="content:colorValue" />
    <xs:attribute name="text-scale" type="xs:float" />
    <xs:attribute name="text-style" type="content:textStyles" />

    <xs:attribute name="start-image-size" type="content:textImageSize" />
    <xs:attribute name="end-image-size" type="content:textImageSize" />
    <xs:attribute name="minimum-lines" type="content:textMinimumLines" />

    <xs:attributeGroup name="contentTextType">
        <xs:attribute ref="web:font-weight" />
        <xs:attribute ref="web:text-align" />
        <xs:attribute ref="web:text-color" />
        <xs:attribute ref="web:text-scale" />
        <xs:attribute ref="web:text-style" />
    </xs:attributeGroup>
    <xs:attributeGroup name="contentTextElement">
        <xs:attribute ref="web:start-image-size" />
        <xs:attribute ref="web:end-image-size" />
        <xs:attribute ref="web:minimum-lines" />
    </xs:attributeGroup>
    <!-- endregion: content:text attributes -->
</xs:schema>
